[submodule "ext/pyedb"]
	path = ext/pyedb
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/pyedb
[submodule "ext/maker"]
	path = ext/maker
	url = /afs/ece.cmu.edu/project/abstract/repos/maker
[submodule "ext/sllurpsock"]
	path = ext/sllurpsock
	url = /afs/ece.cmu.edu/project/abstract/repos/sllurpsock
[submodule "ext/edb-console"]
	path = ext/edb-console
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/edb-console
[submodule "ext/edb-firmware"]
	path = ext/edb-firmware
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/edb-firmware
